web/bundles/
web/css/*
web/css/generated/*
web/js/*
web/js/generated/*
web/images/*
web/.htaccess
app/bootstrap.php.cache
app/cache/
app/cache
app/logs/
app/logs
build/
vendor
bin
.idea
.idea/
.tags

