{% extends 'MinicoSilverBundle::base.html.twig' %}

{% block body -%}
    <h1>Withdrawls creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('withdrawls') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
