<ul>
    <li>
        <a href="{{ path('minico_silver_supplier_report') }}">
            Raport stoc per furnizori
        </a>
    </li>
    <br/>
    <li>
        <a href="{{ path('minico_silver_product_code_sales') }}">
            Raport vanzari per cod produs
        </a>
    </li>
    <br/>
    <li>
        <a href="{{ path('minico_silver_report') }}">
            Raport stoc per gestiune
        </a>
    </li>
    <br/>
    <li>
        <a href="{{ path('minico_silver_product_code') }}">
            Raport per produse
        </a>
    </li>
</ul>
